<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles</title>
    <link rel="stylesheet" href="{{url_for('static',filename="css/Driver.css")}}">
</head>
<body>
    <div class="container">
        <div class="Driver">
            <img src="{{url_for('static',filename="assets/img/Driver.png")}}" alt="Driver 1">
            <div class="details">
                <p>Name: Kalpak</p>
                <p>Price Per Day: 1500 Rs</p>
            </div>
            <button class="book-button">Book</button>
        </div>
        <div class="Driver">
            <img src="{{url_for('static',filename="assets/img/Driver.png")}}" alt="Driver 2">
            <div class="details">
                <p>Name: Tejas</p>
                <p>Price Per Day: 1000 Rs</p>
            </div>
            <button class="book-button">Book</button>
        </div>
        <div class="Driver">
            <img src="{{url_for('static',filename="assets/img/Driver.png")}}" alt="Driver 3">
            <div class="details">
                <p>Name: Rohan</p>
                <p>Price Per Day: 1100 Rs</p>
            </div>
            <button class="book-button">Book</button>
        </div>
        <div class="Driver">
            <img src="{{url_for('static',filename="assets/img/Driver.png")}}" alt="Driver 4">
            <div class="details">
                <p>Name: Ramesh</p>
                <p>Price Per Day: 1200 Rs</p>
            </div>
            <button class="book-button">Book</button>
        </div>
        <div class="Driver">
            <img src="{{url_for('static',filename="assets/img/Driver.png")}}" alt="Driver 5">
            <div class="details">
                <p>Name: Arpit</p>
                <p>Price Per Day: 1300 Rs</p>
            </div>
            <button class="book-button">Book</button>
        </div>
        <div class="Driver">
            <img src="{{url_for('static',filename="assets/img/Driver.png")}}" alt="Driver 6">
            <div class="details">
                <p>Name: Abhijit</p>
                <p>Price Per Day: 1400 Rs</p>
            </div>
            <button class="book-button">Book</button>
        </div>
    </div>
    <div class="button-container">
    </div>
</body>
</html>