{% extends  'layout.html' %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/car-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Travelling Mondays</h1>
                            <span class="subheading">Start Your Journey With Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                         <h1>Comments</h1>
                            <hr>
                        <a href="post.html">

                            <h2 class="post-title">Excellent Service Providers</h2>
                            <h3 class="post-subtitle">It's very good initiative to provide vehicle service.its helps me alot</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Arpit Gaikwad</a>
                            on November 19, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">

                            <h2 class="post-title">The  Best Service I Get Till Now</h2>
                            <h3 class="post-subtitle">I recently used Travelling Mondays and had a fantastic experience. The customer service was exceptional, and the journey was comfortable and on time. However, I think the booking process could be more user-friendly.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Rohan Bage</a>
                            on November 19, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Reliable and Pleasant travel experience.</h2>
                            <h3 class="post-subtitle">I had a wonderful trip with Travelling Mondays. The car seats were very comfortable</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Abhishek Pawaskar</a>
                            on August 20, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">My experience with Travelling Mondays was great.</h2>
                            <h3 class="post-subtitle">The journey was smooth, and the amenities provided were excellent.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Ganesh Waghmare</a>
                            on July 8, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Comments →</a></div>
                </div>
            </div>
        </div>

{% endblock %}
